body{
	color:black;
	/*background-image: url("images/12.jpg")*/
}

img{
	opacity: 1.0;
}

a{
	color:black;
}

.footer {
  position: static;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  /*background-color: #FDCBCA;*/
  text-align: center;
  height: 100%;


}

.container h3{
	text-align: center;
}


.carousel{

	height: 400px;
}

.col-md-2 img{
	height: 150px;
	border-radius: 8px;
	
}

.col-md-6 img{
	height: 150px;
	border-radius: 8px;
}

.carousel-inner .item{

	height:1300px;
}


.container1{
	
}



.container2{
	background-color: #F3D250;
	opacity:.83;
}

.container3{
	background-color: #FF7888;
	opacity: .83;
}


#map {
        height: 400px;
        width: 100%;
}

.navbar{
	margin:-2px;
	border-color: black;
	background-color: #F3D250

}


.jumbotron{

	background-image: url("../images/7.jpg");
	max-width: 100%;
	height:500px;
	color: white;
	text-shadow: 2px 2px black;
	opacity:.92;
}

hr{
	width:70%;
}

.container2 .text-center:hover{


}
